
<header>
  <nav class="left">
    <ul>
      <li>
        <a routerLink="/settings">Settings</a>
      </li>
      <li>
        <a routerLink="/help">Help</a>
      </li>
      <li>  
        <a routerLink="/about">About Us</a>
      </li>
    </ul>
  </nav>

  <div class="searchBar right">
      <input type="search" placeholder="Search">
  </div>
</header>

<section class="mainContent">
  <ul class="overviewList options">
    <li>Import</li>
    <li>Merge (Planned)</li>
  </ul>
  <ul class="overviewList contacts">
    <li ng-if="true">No contacts imported yet</li>

    <!-- TODO: not checked, i cant believe that data att is really set, but no error right now, lets see -->
    
    <li *ngFor="let c of contacts" [attr.data-file]="c.file">
        {{c.name}}
    </li>
  </ul>
</section>