
<header class="optionsHeader">
  <nav class="left">
    <ul class="fa fa-bars">
      <li>
        <a routerLink="/settings">Settings</a>
      </li>
      <li>
        <a routerLink="/help">Help</a>
      </li>
      <li>  
        <a routerLink="/about">About Us</a>
      </li>
    </ul>
  </nav>

  <div class="searchBar right">
      <input type="search" placeholder="Search">
  </div>
</header>

<section class="mainContent">
  <ul class="overviewList options">
    <li (click)="import()">Import</li>
    <li (click)="merge()">Merge (Planned)</li>
  </ul>
  <ul class="overviewList contacts">
    <li *ngIf="!contactsExist">No contacts imported yet</li>

    <!-- TODO: not checked iff data-file really stores the information from c.file -->
    
    <li *ngFor="let c of contacts" [attr.data-file]="c.file" (click)="selectChat(c.file)">
        {{c.name}}
    </li>
  </ul>
</section>