<header class="optionsHeader">
  <nav class="right">
    <ul class="fa fa-bars">
      <li>Search by Date</li>
      <li>Merge with...</li>
      <li>Export</li>
    </ul>
  </nav>

  <div class="searchBar left">
      <!-- search bar dummy implementation - always scrolls to element witz id of 3 -->
      <input type="search" placeholder="Search" oninput="document.getElementById(3)? document.getElementById(3).scrollIntoView(): false">
  </div>
</header>

<section class="mainContent">
    <div *ngIf="!selectedChat">
      <p>No chat is selected</p>
    </div>
    
    <div *ngIf="selectedChat">
      <ul id="chat">
        <li class="chatBubble {{x.class}}" id="{{x.id}}" *ngFor="let x of chat">
          <div class="chatIcon">
            <!-- IMAGE MAY BE ADDED -->
            <img [src]="picture" title="Icon for subject">
          </div>  
          <div class="content">
            <p class="sender">{{x.sender}}</p>
            <p class="message">{{x.message}}</p>
          </div> 
        </li>
      </ul>
    </div>
</section>

